.sender{
    height: 200px;
    border: 1px solid black;
    padding-left: none;
}

.instruction {
    margin-top: 10px;
    margin-left: 10px;
}

.table-container{
    height: 300px;
    overflow: scroll;
}